
<section
  class="page-title centred"
  style="
    background-image: url(../../assets/images/content-title.jpg);
  "
>
  <div class="container">
    <div class="content-box">
      <ul class="bread-crumb">
        <li><a href="/">Home</a></li>
        <li>F.A.Q</li>
      </ul>
      <div class="title">
        <h2>Frequently Asked Questions</h2>
      </div>
    </div>
  </div>
</section>

<section class="single-service sidebar-page-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 service-content-column">
        <div class="service-details-content">
          <div class="inner-box">
            <div class="content-style-one">
              <div class="title-box">
                <span>Frequently Asked Questions</span>
                <h2>(FAQs)</h2>
              </div>
            </div>
            <div class="content-style-three">
              <ul class="accordion-box">
                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    How can I invest with Pandora Group?
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        To make a investment you must first register. Then you
                        must login to your account using your username and
                        password. All deposits must be made through the Make
                        Deposit section in your account.
                      </div>
                    </div>
                  </div>
                </li>

                <li class="accordion block active-block">
                  <div class="acc-btn active">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    I wish to invest with Pandora Group but I don't have an any
                    ecurrency account. What should I do?
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        You will require perfect money or bitcoin account to
                        start investing with use.You can open perfect money
                        account for free
                        <a href="https://perfectmoney.is" target="_blank"
                          >http://perfectmoney.is</a
                        >
                        You can open a free Bitcoin account here:
                        <a target="_blank" href="https://blockchain.info/"
                          >blockchain.info</a
                        >
                      </div>
                    </div>
                  </div>
                </li>

                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    How can I withdraw my funds?
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        Login to your account using your username and password
                        and check the Withdraw section.
                      </div>
                    </div>
                  </div>
                </li>

                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    How long does it take for my deposit to be added to my
                    account?
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        Your account will be updated during the 1 calendar day.
                      </div>
                    </div>
                  </div>
                </li>

                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Can I make an additional deposit to Pandora Group account once
                    it has been opened?
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        Yes, you can. New deposit will be added to your current
                        balance. But you can withdraw any money within 3
                        calendar days.
                      </div>
                    </div>
                  </div>
                </li>

                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Do you allow compounding?
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        We do not allow compouding, but your deposit will be
                        increased after each withdrawal if you will not withdraw
                        all profit. The remaining part of the profit will be
                        added to the current deposit.
                      </div>
                    </div>
                  </div>
                </li>

                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Does a daily profit paid directly to my currency account?
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        No, profits are gathered on your account.
                      </div>
                    </div>
                  </div>
                </li>

                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    How do you calculate the interest on my account?
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        Depending on each plan. Interest on your account is
                        acquired daily and credited to your available balance at
                        the end of each calendar day.
                      </div>
                    </div>
                  </div>
                </li>

                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    After I make a withdrawal request, when will the funds be
                    available on my ecurrency account?
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        Withdrawal will be made within 1-2 calendar days
                        manually. Funds are usually available within 24-48
                        hours. If you don't receive your withdrawn funds please
                        contact us and we will solve your problem promtly.
                      </div>
                    </div>
                  </div>
                </li>

                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Is it possible to change my investment plan?
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        Yes when your balance has reached minimum principal of
                        next plan your investment plan will change after
                        checking within 1 calendar day.
                      </div>
                    </div>
                  </div>
                </li>

                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Can I make a deposit from Bitcoin account is different from
                    a specified during the registration
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        No, we will not accept payments from other Bitcoin
                        accounts.
                      </div>
                    </div>
                  </div>
                </li>

                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    What is referral link?
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        It's a link which you can share with your friend and get
                        compensation if he decides to invest. You can find your
                        referral link in Account area in Your Referrals section.
                      </div>
                    </div>
                  </div>
                </li>

                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    How can I change my password and other information?
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        You can change your password directly from your Account
                        area by editing it in Account section. Your full name,
                        your country and phone number you can change in Edit
                        Account section.
                      </div>
                    </div>
                  </div>
                </li>

                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    May I open several accounts in your program?
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        No. it is strictly forbidden. If we find that one member
                        has more that one account, the account and entire funds
                        will be frozen.
                      </div>
                    </div>
                  </div>
                </li>

                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    What is your system time?
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        Our system time is GMT+0 (Greenwich).
                      </div>
                    </div>
                  </div>
                </li>

                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Can I lose money?
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        It is known there is a risk involved with investing in
                        all high yield investment programs. However, there are a
                        few simple ways that can help you to reduce the risk of
                        losing more than you can afford to. First, align your
                        investments with your financial goals, in other words,
                        keep the money you may need for the short-term out of
                        more aggressive investments, reserving those investment
                        funds for the money you intend to raise over the
                        long-term. It's very important for you to know that we
                        are real traders and that we invest members' funds on
                        major investments.
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

