<body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="blank-page">
  <!-- BEGIN: Content-->
  <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div>
      <div class="content-header row">
      </div>
      <div class="content-body"><div class="auth-wrapper auth-v1 px-2">
<div class="auth-inner py-2">
  <!-- Register v1 -->
  <div class="card mb-0">
    <div class="card-body">
      <a href="javascript:void(0);" class="brand-logo">
        <h2 class="brand-text text-primary ml-1">Pandora</h2>
      </a>

      <h4 class="card-title mb-1">Investment starts here 🚀</h4>

      <form class="auth-register-form mt-2" [formGroup]="form" action="index.html" (ngSubmit)="onSubmit()" method="POST">
        <div class="form-group">
          <label for="register-username" class="form-label">First Name</label>
          <input formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
            type="text"
            class="form-control"
            placeholder="johndoe"
            aria-describedby="register-firstName"
            tabindex="1"
            autofocus
          />
          <div *ngIf="f.firstName.invalid && f.firstName.dirty" class="alert alert-danger" >
            <p *ngIf="f.firstName.hasError('maxlength')">
              First Name cannot exceed 50 characters
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="register-username" class="form-label">Last Name</label>
          <input
            type="text"
            formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
            id="register-lastName"
            name="register-lastName"
            placeholder="johndoe"
            aria-describedby="register-lastName"
            tabindex="1"
            autofocus
          />
          <div *ngIf="f.lastName.invalid && f.lastName.dirty" class="alert alert-danger" >
            <p *ngIf="f.lastName.hasError('maxlength')">
              Last Name cannot exceed 50 characters
            </p>
          </div>
      </div>
        <div class="form-group">
          <label for="register-country" class="form-label">Country</label>
          <select class="form-control" id="accountSelect"
          formControlName="country" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
          <option value="" disabled selected>Select your country </option> 
            <option *ngFor ="let count of countryList">{{count}} </option>
          </select>
      </div>
        <div class="form-group">
          <label for="register-email" class="form-label">Email</label>
          <input
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"
            type="text"
            formControlName="email" [ngClass]="{ 'is-invalid': submitted  && f.email.errors }"
            class="form-control"
            id="register-email"
            name="register-email"
            placeholder="john@example.com"
            aria-describedby="register-email"
            tabindex="2"
          />
          <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert alert-danger" >
            <p *ngIf="submitted && f.email.errors?.pattern">
              Please enter a valid email
            </p>
            <p *ngIf="f.email.hasError('maxlength')">
              Email cannot exceed 50 characters
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="register-password" class="form-label">Password</label>
          <div class="input-group input-group-merge form-password-toggle">
            <input
              type="password"
              formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              class="form-control form-control-merge"
              id="register-password"
              name="register-password"
              placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
              aria-describedby="register-password"
              tabindex="3"
            />
            <div class="input-group-append">
              <span [ngStyle]="{
                'border-color':
                  submitted && f.password.errors ? '#EA5455' : null}"
              class="input-group-text cursor-pointer"><i class="feather icon-eye"></i></span>
            </div>
            <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="alert alert-danger" >
              <p *ngIf="submitted && f.password.hasError('minlength')">
                Password must be at least 6 characters long
              </p>
              <p *ngIf="submitted && f.password.hasError('maxlength')">
                Password cannot exceed 30 characters
              </p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="register-password" class="form-label">Confirm Password</label>
          <div class="input-group input-group-merge form-password-toggle">
            <input
              type="password"
              formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
              class="form-control form-control-merge"
              id="register-confirmPassword"
              name="register-confirmPassword"
              placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
              aria-describedby="register-confirmPassword"
              tabindex="3"
            />
            <div class="input-group-append">
              <span [ngStyle]="{
                'border-color':
                  submitted && f.confirmPassword.errors ? '#EA5455' : null}" 
              class="input-group-text cursor-pointer"><i class="feather icon-eye"></i></span>
            </div>
            <div *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)" class="alert alert-danger" >
              <p *ngIf="submitted && f.confirmPassword.hasError('minlength')">
                Password must be at least 6 characters long
              </p>
              <p *ngIf="submitted && f.confirmPassword.hasError('maxlength')">
                Password cannot exceed 30 characters
              </p>
            </div>
            
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="submitted && form.hasError('notSame')">
          password does not match
        </div>
        <div class="form-group" *ngIf="captchaEnabeld" style="text-align: center;" >
          <ng-hcaptcha formControlName="captcha"></ng-hcaptcha>
          <span *ngIf="submitted && f.captcha.errors" style="color: #EA5455!important;">Captcha ir required</span>
        </div>
        <button class="btn btn-primary btn-block" tabindex="5">
          Sign up
          <span class="spinner-border spinner-border-sm" *ngIf="loading"></span>
        </button>
      </form>

      <p class="text-center mt-2">
        <span>Already have an account?</span>
        <a href="login">
          <span> Sign in instead</span>
        </a>
      </p>

    </div>
  </div>
  <!-- /Register v1 -->
</div>
</div>

      </div>
    </div>
  </div>
  <!-- END: Content-->


</body>
<!-- END: Body-->