<header class="main-header header-style-two">
  <div class="container-fluid">
    <div class="outer-container clearfix">
      <div class="top-left clearfix">
        <div class="logo-outer">
          <figure class="logo-box">
            <a href="/">
              <img src="../../assets/images/logo.png" alt="" />
            </a>
          </figure>
        </div>
        <div class="social-area"></div>
        <div class="menu-area">
          <nav class="main-menu navbar-expand-lg">
            <div class="navbar-header">
              <button
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse"
              >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse clearfix">
              <ul class="navigation clearfix">
                <li class="current-menu-item">
                  <a href="/home">Home</a>
                </li>
                <li>
                  <a class="smooth-menu" href="/about-us"
                    >About us</a
                  >
                </li>
                <li>
                  <a class="smooth-menu" href="/terms"
                    >Terms</a
                  >
                </li>
                <li>
                  <a class="smooth-menu" href="https://kamsonfund.com/register"
                    >register</a
                  >
                </li>
                <li>
                  <a class="smooth-menu" href="https://kamsonfund.com/login"
                    >Login</a
                  >
                </li>
                <li>
                  <a class="smooth-menu" href="/faq"
                    >F.A.Q</a
                  >
                </li>
                <li>
                  <a style="color: #FFFFFF;"
                    class="smooth-menu"
                    href="/contact-us"
                    >Contact Us</a
                  >
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="sticky-header">
    <div class="container clearfix">
      <figure class="logo-box">
        <a href="/">
          <img
            src="../../assets/images/small-logo.png"
            alt=""
          />
        </a>
      </figure>
      <div class="menu-area">
        <nav class="main-menu navbar-expand-lg">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-collapse"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse clearfix">
            <ul class="navigation clearfix">
              <li>
                <a href="/home">Home</a>
              </li>
              <li>
                <a class="smooth-menu" href="/about-us"
                  >About us</a
                >
              </li>
              <li>
                <a class="smooth-menu" href="/terms"
                  >Terms</a
                >
              </li>
              <li>
                <a class="smooth-menu" href="https://kamsonfund.com/login"
                  >Login</a
                >
              </li>
              <li>
                <a class="smooth-menu" href="https://kamsonfund.com/register"
                  >Register</a
                >
              </li>
              <li>
                <a class="smooth-menu" href="/faq"
                  >F.A.Q</a
                >
              </li>
              <li class="current">
                <a class="smooth-menu" href="/contact-us"
                  >Contact Us</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<section
  class="page-title centred"
  style="
    background-image: url(../../assets/images/content-title.jpg);
  "
>
  <div class="container">
    <div class="content-box">
      <ul class="bread-crumb">
        <li><a href="/">Home</a></li>
        <li>Contact Us</li>
      </ul>
      <div class="title">
        <h2>Contact Us</h2>
      </div>
    </div>
  </div>
</section>

<section class="contact-section">
  <div class="container">
    <div class="row clearfix">
      <div class="col-lg-8 col-md-12 col-sm-12 inner-column">
        <div class="inner-content">
          <div class="sec-title">
            <span>contact with us</span>
            <h2>Contact Form.</h2>
          </div>
          <div class="contact-form-area">
            <form
              method="post"
              action="/contact-us/process"
              id="contact-form"
            >
              <div class="form-group">
                <input
                  type="text"
                  name="name"
                  placeholder="Your Name"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  name="email"
                  placeholder="Email Address"
                  required
                />
              </div>
              <div class="form-group">
                <input type="text" name="phone" placeholder="Phone" required />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="subject"
                  placeholder="Subject"
                  required
                />
              </div>
              <div class="form-group">
                <textarea name="message" placeholder="Message"></textarea>
              </div>
              <div class="form-group theme-btn">
                <input
                  type="hidden"
                  name="token"
                  value="3be2ccc6a2c8a91d20a6d1b326e1c257c69b72c2"
                />
                <button class="theme-btn" type="submit" name="submit-form">
                  Send Message<i class="flaticon-outcoming-object"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 inner-column">
        <div class="inner-content">
          <div class="info-box marginal-address">
            <div class="single-item">
              <span>office Address</span>
              <p>
                AVON, 1-5 St James Barton <br />
                Roundabout, Broadmead,<br />
                Bristol BS1 3LT,<br />
                United Kingdom
              </p>
            </div>
            <div class="single-item">
              <span>Send us email</span>
              <p>
                <a
                  href="/cdn-cgi/l/email-protection"
                  class="__cf_email__"
                  data-cfemail="abd8dedbdbc4d9dfebc0cac6d8c4c5cddec5cf85c8c4c6"
                  >[email&#160;protected]</a
                >
              </p>
            </div>
            <div class="single-item">
              <span>Call us</span>
              <p>VIP-MEMBERS-ONLY</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="main-footer">
  <div class="container">
    <div class="main-footer-content">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
          <div class="about-widget footer-widget">
            <div class="divisor-logo">
              <figure class="footer-logo">
                <a href="index-2.html">
                  <img
                    src="../../assets/images/footer-logo.png"
                    alt=""
                  />
                </a>
              </figure>
            </div>
            <div class="text">
              <p>
                We focus on companies with proven business models that are
                beyond the early phase stage, and therefore do not engage in
                venture investments.
              </p>
              <p>
                We evaluate the long-term potential of an investment solution
                based on a thorough needs and market trend analysis.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
          <div class="explore-widget footer-widget">
            <h3 class="widget-title">Explore</h3>
            <ul class="link-list">
              <li><a href="/about-us">The Company</a></li>
              <li><a href="/terms">Service Terms</a></li>
              <li>
                <a href="https://kamsonfund.com/register">Create Account</a>
              </li>
              <li>
                <a href="/contact-us">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
          <div class="product-widget footer-widget">
            <h3 class="widget-title">Why us?</h3>
            <ul class="link-list">
              <li><a href="#">Payments all calender days</a></li>
              <li><a href="#">DDOS Protected Servers</a></li>
              <li><a href="#">Secure &amp; Encrypted Data</a></li>
              <li><a href="#">24/7 Customer Support</a></li>
              <li><a href="#">No withdrawal fee</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
          <div class="info-widget footer-widget">
            <h3 class="widget-title">Contact Information</h3>
            <div class="info-box">
              <div class="single-info">
                <span>Address</span>
                <div class="text">
                  AVON, 1-5 St James Barton Roundabout, Broadmead, Bristol BS1
                  3LT, United Kingdom
                </div>
              </div>
              <div class="single-info">
                <span>Email</span>
                <div class="text">
                  <a
                    href="/cdn-cgi/l/email-protection"
                    class="__cf_email__"
                    data-cfemail="44373134342b3630042f2529372b2a22312a206a272b29"
                    >[email&#160;protected]</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-bottom centred">
      <div class="copyright">
        Copyright &copy; 2021 Kamson Fund. All rights reserved.
      </div>
    </div>
  </div>
</footer>
<button class="scroll-top scroll-to-target" data-target="html">
  <span class="fa fa-arrow-up"></span>
</button>
