<header class="main-header header-style-two">
  <div class="container-fluid">
    <div class="outer-container clearfix">
      <div class="top-left clearfix">
        <div class="logo-outer">
          <figure class="logo-box">
            <a href="/">
              <img src="../../assets/images/logo.png" alt="" />
            </a>
          </figure>
        </div>
        <div class="social-area"></div>
        <div class="menu-area">
          <nav class="main-menu navbar-expand-lg">
            <div class="navbar-header">
              <button
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse"
              >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse clearfix">
              <ul class="navigation clearfix">
                <li class="current-menu-item">
                  <a href="/">Home</a>
                </li>
                <li>
                  <a class="smooth-menu" href="/about-us" style="color: #FFFFFF;"
                    >About us</a
                  >
                </li>
                <li>
                  <a class="smooth-menu" href="/terms"
                    >Terms</a
                  >
                </li>
                <li>
                  <a class="smooth-menu" href="https://kamsonfund.com/register"
                    >register</a
                  >
                </li>
                <li>
                  <a class="smooth-menu" href="https://kamsonfund.com/login"
                    >Login</a
                  >
                </li>
                <li>
                  <a class="smooth-menu" href="/faq"
                    >F.A.Q</a
                  >
                </li>
                <li>
                  <a
                    class="smooth-menu"
                    href="/contact-us"
                    >Contact Us</a
                  >
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="sticky-header">
    <div class="container clearfix">
      <figure class="logo-box">
        <a href="/">
          <img
            src="../../assets/images/small-logo.png"
            alt=""
          />
        </a>
      </figure>
      <div class="menu-area">
        <nav class="main-menu navbar-expand-lg">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-collapse"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse clearfix">
            <ul class="navigation clearfix">
              <li>
                <a href="/">Home</a>
              </li>
              <li class="current">
                <a class="smooth-menu" href="/about-us"
                  >About us</a
                >
              </li>
              <li>
                <a class="smooth-menu" href="/terms"
                  >Terms</a
                >
              </li>
              <li>
                <a class="smooth-menu" href="https://kamsonfund.com/login"
                  >Login</a
                >
              </li>
              <li>
                <a class="smooth-menu" href="https://kamsonfund.com/register"
                  >Register</a
                >
              </li>
              <li>
                <a class="smooth-menu" href="/faq"
                  >F.A.Q</a
                >
              </li>
              <li>
                <a class="smooth-menu" href="/contact-us"
                  >Contact Us</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<section
  class="page-title centred"
  style="
    background-image: url(../../assets/images/about-title.jpg);
  "
>
  <div class="container">
    <div class="content-box">
      <ul class="bread-crumb">
        <li><a href="/">Home</a></li>
        <li>About us</li>
      </ul>
      <div class="title">
        <h2>About us</h2>
      </div>
    </div>
  </div>
</section>

<section class="our-philosophy">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 image-column">
        <figure class="image-box">
          <img
            src="../../assets/images/about-title-2.jpg"
            alt=""
          />
        </figure>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 content-column">
        <div class="content-box">
          <div class="sec-title">
            <span
              >We have extensive experience and insight into businesses and
              capital markets</span
            >
            <h2>We develop and manage promising opportunities</h2>
            <div class="text">
              <p>
                Kamson Fund is an online investment platform that offers private
                and institutional investors direct and professional access to
                global investments. Having successfully invested in more than
                100 companies, Kamson Fund is one of the most active venture
                capital investors in United Kingdom.
              </p>
              <p>
                Our select private investments have a strong rationale and
                attractive deal structure – with a preference for off-market
                opportunities which can offer superior long-term value.
              </p>
              <p>
                We are here to make life easier – by providing consolidation of
                assets across banks, jurisdictions, managers and mandates.
                Having a picture of the overall wealth allows us to manage asset
                allocation and risk, to provide solutions, and assist in wealth
                planning and next-generation issues.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="main-footer">
  <div class="container">
    <div class="main-footer-content">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
          <div class="about-widget footer-widget">
            <div class="divisor-logo">
              <figure class="footer-logo">
                <a href="index-2.html">
                  <img
                    src="../../assets/images/footer-logo.png"
                    alt=""
                  />
                </a>
              </figure>
            </div>
            <div class="text">
              <p>
                We focus on companies with proven business models that are
                beyond the early phase stage, and therefore do not engage in
                venture investments.
              </p>
              <p>
                We evaluate the long-term potential of an investment solution
                based on a thorough needs and market trend analysis.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
          <div class="explore-widget footer-widget">
            <h3 class="widget-title">Explore</h3>
            <ul class="link-list">
              <li><a href="/about-us">The Company</a></li>
              <li><a href="/terms">Service Terms</a></li>
              <li>
                <a href="https://kamsonfund.com/register">Create Account</a>
              </li>
              <li>
                <a href="/contact-us">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
          <div class="product-widget footer-widget">
            <h3 class="widget-title">Why us?</h3>
            <ul class="link-list">
              <li><a href="#">Payments all calender days</a></li>
              <li><a href="#">DDOS Protected Servers</a></li>
              <li><a href="#">Secure &amp; Encrypted Data</a></li>
              <li><a href="#">24/7 Customer Support</a></li>
              <li><a href="#">No withdrawal fee</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
          <div class="info-widget footer-widget">
            <h3 class="widget-title">Contact Information</h3>
            <div class="info-box">
              <div class="single-info">
                <span>Address</span>
                <div class="text">
                  AVON, 1-5 St James Barton Roundabout, Broadmead, Bristol BS1
                  3LT, United Kingdom
                </div>
              </div>
              <div class="single-info">
                <span>Email</span>
                <div class="text">
                  <a
                    href="/cdn-cgi/l/email-protection"
                    class="__cf_email__"
                    data-cfemail="d3a0a6a3a3bca1a793b8b2bea0bcbdb5a6bdb7fdb0bcbe"
                    >[email&#160;protected]</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-bottom centred">
      <div class="copyright">
        Copyright &copy; 2021 Kamson Fund. All rights reserved.
      </div>
    </div>
  </div>
</footer>
