<!-- Dashboard Ecommerce Starts -->
<section id="dashboard-ecommerce">
  <div class="row">
    <div class="col-xl-4 col-md-6 col-sm-12">
      <div class="card" style="height: 96%">
        <div class="card-content">
          <div class="bronze"><a class="bronzeText">25%</a></div>
          <div class="card-body">
            <h5 style="text-align: center">Bronze Plan</h5>
            <div style="text-align: center;font-size: 12pt">
              <p class="card-text mb-2">Profit per month : <span style="font-weight: bold">25%</span></p>
              <p class="card-text mb-2">Refferal Bonus per person : <span style="font-weight: bold">1%</span></p>
              <p class="card-text mb-2">Minimum Deposit : <span style="font-weight: bold">100$</span></p>
              <p class="card-text mb-4">Duration Deposit : <span style="font-weight: bold">1 month</span></p>
            </div>
            <button
              (click)="invest('Bronze Plan',0.25,1)"
              class="
                btn
                gradient-light-primary
                btn-block
                mt-2
                waves-effect waves-light
              "
            >
              Invest Now
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12">
      <div class="card" style="height: 96%">
        <div class="card-content">
          <div class="silver"><a class="silverText">35%</a></div>
          <div class="card-body">
            <h5 style="text-align: center">Silver Plan</h5>
            <div style="text-align: center;font-size: 12pt">
              <p class="card-text mb-2">Profit per month : <span style="font-weight: bold">35%</span></p>
              <p class="card-text mb-2">Refferal Bonus per person : <span style="font-weight: bold">2%</span></p>
              <p class="card-text mb-2">Minimum Deposit : <span style="font-weight: bold">400$</span></p>
              <p class="card-text mb-4">Duration Deposit : <span style="font-weight: bold">2 months</span></p>
            </div>
            <button
              (click)="invest('Silver Plan',0.35,2)"
              class="
                btn
                gradient-light-primary
                btn-block
                mt-2
                waves-effect waves-light
              "
            >
              Invest Now
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12">
      <div class="card" style="height: 96%">
        <div class="card-content">
          <div class="gold"><a class="goldText">50%</a></div>
          <div class="card-body">
            <h5 style="text-align: center">Gold Plan</h5>
            <div style="text-align: center;font-size: 12pt">
              <p class="card-text mb-2">Profit per month : <span style="font-weight: bold">50%</span></p>
              <p class="card-text mb-2">Refferal Bonus per person : <span style="font-weight: bold">3%</span></p>
              <p class="card-text mb-2">Minimum Deposit : <span style="font-weight: bold">900$</span></p>
              <p class="card-text mb-4">Duration Deposit : <span style="font-weight: bold">3 months</span></p>
            </div>
            <button
              (click)="invest('Gold Plan',0.5,3)"
              class="
                btn
                gradient-light-primary
                btn-block
                mt-2
                waves-effect waves-light
              "
            >
              Invest Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div
  *ngIf="popup"
  class="swal2-container swal2-center swal2-fade swal2-shown"
  ngif
  style="overflow-y: auto"
>
  <div
    aria-labelledby="swal2-title"
    aria-describedby="swal2-content"
    class="swal2-popup swal2-modal swal2-show"
    tabindex="-1"
    role="dialog"
    aria-live="assertive"
    aria-modal="true"
    style="display: flex;width: 40em"
  >
    <div class="card-header-choos-plan">
      <h4 class="card-title">Plan Selection</h4>
      <button
        type="button"
        (click)="popup = false"
        class="swal2-close"
        aria-label="Close this dialog"
        style="display: flex"
      >
        ×
      </button>
    </div>
    <div class="alert alert-info mb-2" role="alert" style="width: 100%">
      <h4 class="alert-heading">Attention</h4>
      <ul class="b">
        <li>
          It is impossible to cancel after starting the investment.
        </li>
        <li>
          Capital will withdraw from your account when you start investing.
        </li>
        <li>
          Profit is not receivable until the end of the investment duration.
        </li>
      </ul>
      <div class="alert alert-success" role="alert" style="width: 100%">
        <div class="b" style="display: flex">
          You have
          <div style="padding-left: 5px; padding-right: 5px">{{activeInviteesCount}}</div>
          active invitee(s) right now
        </div>
      </div>
    </div>

    <form class="form form-vertical" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-body">
        <div class="row">
          <div class="col-12">
            <div class="form-label-group position-relative has-icon-left">
              <select
                formControlName="planName"
                (ngModelChange)="onPlanChanged($event)"
                [ngClass]="{ 'is-invalid': submitted && f.planName.errors }"
                class="form-control"
                id="basicSelect"
              >
                <option [value]="count.value" *ngFor="let count of planList">
                  {{ count.value }}
                </option>
              </select>
              <div class="form-control-position">
                <i class="feather icon-box"></i>
              </div>
              <label for="first-name-floating-icon">Plan</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-label-group position-relative has-icon-left">
              <select
                formControlName="walletType"
                [ngClass]="{ 'is-invalid': submitted && f.walletType.errors }"
                class="form-control"
                id="basicSelect"
                (ngModelChange)="cryptoChange($event)"
              >
                <option [ngValue]="count.key" *ngFor="let count of cryptoList">
                  {{ count.value }}
                </option>
              </select>
              <div class="form-control-position">
                <i class="feather icon-credit-card"></i>
              </div>
              <label for="email-id-floating-icon">Email</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-label-group">
              <input
                disabled
                type="email"
                [value]="balance"
                id="email-id-floating"
                class="form-control"
                name="email-id-floating"
                placeholder="Balance"
              />
              <label for="email-id-floating">Available Balance</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-label-group">
              <input
                formControlName="investmentAmount"
                digitOnly
                [max]="balance"
                [decimal]="true"
                [ngClass]="{
                  'is-invalid': submitted && f.investmentAmount.errors
                }"
                id="email-id-floating"
                class="form-control"
                name="email-id-floating"
                (ngModelChange)="onBalanceChanged($event)"
                placeholder="Investment Amount"
              />
              <label for="email-id-floating">Investment Amount</label>
            </div>
          </div>
          <div class="col-12">
            <div class="alert alert-success" role="alert" style="width: 100%">
              <div class="b" style="display: flex">
                You will gain {{finalProfit}} per month
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swal2-actions" style="display: flex">
        <button
          type="submit"
          class="swal2-confirm btn btn-primary"
          aria-label=""
          style="display: inline-block"
        >
          Start Investment
          <span class="spinner-border spinner-border-sm" *ngIf="loading"></span></button
        >
      </div>
    </form>
    <div class="swal2-footer" style="display: none"></div>
  </div>
</div>
<!-- Dashboard Ecommerce ends -->
