.gold{
    text-align: center;
    background-color: gold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.goldText{
    color: white;
    width: 100%;
    font-family: fantasy;
    font-size: 128px;
    padding: 13px;
    margin: auto;
}
.silver{
    text-align: center;
    background-color: silver;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.silverText{
    color: white;
    width: 100%;
    font-family: fantasy;
    font-size: 128px;
    padding: 13px;
    margin: auto;
}
.bronze{
    text-align: center;
    background-color: darkgoldenrod;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.bronzeText{
    color: white;
    width: 100%;
    font-family: fantasy;
    font-size: 128px;
    padding: 13px;
    margin: auto;
}