<!-- Dashboard Ecommerce Starts -->
<section id="dashboard-ecommerce">
<div class="row">
    <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="card" style="height: 96%;">
            <div class="card-content">
                <div class="bronze"><a class="bronzeText">30%</a></div>
                <div class="card-body">
                    <h5>Bronze Plan</h5>
                    <p class="card-text  mb-0">Receive 30% profit after one month</p>
                    <span class="card-text">Refferal Bonus per person : 5%</span>
                    <div class="d-flex justify-content-between mt-2">
                        <div class="uploads">
                            <p class="font-weight-bold font-medium-2 mb-0">100$</p>
                            <span class="">Minimum Deposit</span>
                        </div>
                        <div class="followers">
                            <p class="font-weight-bold font-medium-2 mb-0">1 month</p>
                            <span class="">Duration</span>
                        </div>
                    </div>
                    <button class="btn gradient-light-primary btn-block mt-2 waves-effect waves-light">Invest Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="card" style="height: 96%;">
            <div class="card-content">
                <div class="silver"><a class="silverText">90%</a></div>
                <div class="card-body">
                    <h5>Silver Plan</h5>
                    <p class="card-text  mb-0">Receive 90% profit after two months</p>
                    <span class="card-text">Refferal Bonus per person : 8%</span>
                    <div class="d-flex justify-content-between mt-2">
                        <div class="uploads">
                            <p class="font-weight-bold font-medium-2 mb-0">400$</p>
                            <span class="">Minimum Deposit</span>
                        </div>
                        <div class="followers">
                            <p class="font-weight-bold font-medium-2 mb-0">2 months</p>
                            <span class="">Duration</span>
                        </div>
                    </div>
                    <button class="btn gradient-light-primary btn-block mt-2 waves-effect waves-light">Invest Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="card" style="height: 96%;">
            <div class="card-content">
                <div class="gold"><a class="goldText">140%</a></div>
                <div class="card-body">
                    <h5>Gold Plan</h5>
                    <p class="card-text  mb-0">Receive 140% profit after three months</p>
                    <span class="card-text">Refferal Bonus per person : 12%</span>
                    <div class="d-flex justify-content-between mt-2">
                        <div class="uploads">
                            <p class="font-weight-bold font-medium-2 mb-0">900$</p>
                            <span class="">Minimum Deposit</span>
                        </div>
                        <div class="followers">
                            <p class="font-weight-bold font-medium-2 mb-0">3 months</p>
                            <span class="">Duration</span>
                        </div>
                    </div>
                    <button class="btn gradient-light-primary btn-block mt-2 waves-effect waves-light">Invest Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Dashboard Ecommerce ends -->