.swal2-popup.swal2-modal.swal2-show {
    background-color: #10163A !important;
}
.swal2-popup {
    width: 50em !important;
}
.form-group{
    text-align: center !important;
}
.swal2-close{
    font-weight: bold;
    font-family: 'Montserrat';
}
.swal2-container.swal2-fade {
    transition: background-color .1s; 
}