<div class="content-header row">
  <div class="content-header-left col-md-9 col-12 mb-2">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <h2 class="content-header-title float-left mb-0">Wallet</h2>
        <div class="breadcrumb-wrapper col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Wallets</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="data-list-view" class="data-list-view-header">
  <div class="action-btns d-none">
    <div class="btn-dropdown mr-1 mb-1"></div>
  </div>

  <!-- DataTable starts -->
  <div class="table-responsive">
    <div
      id="DataTables_Table_0_wrapper"
      class="dataTables_wrapper dt-bootstrap4 no-footer"
    >
      <div class="clear"></div>
      <table
        class="table data-list-view dataTable no-footer dt-checkboxes-select"
        id="DataTables_Table_0"
        role="grid"
      >
        <thead>
          <tr role="row">
            <th
              tabindex="0"
              aria-controls="DataTables_Table_0"
              rowspan="1"
              colspan="1"
              style="padding-left: 30px; text-align: center"
            >
              CURRENCY
            </th>
            <th
              tabindex="0"
              aria-controls="DataTables_Table_0"
              rowspan="1"
              colspan="1"
              style="text-align: center"
            >
              ASSET
            </th>
            <th
              tabindex="0"
              aria-controls="DataTables_Table_0"
              rowspan="1"
              colspan="1"
              style="text-align: center"
            >
              INVESTING
            </th>
            <th
              tabindex="0"
              aria-controls="DataTables_Table_0"
              rowspan="1"
              colspan="1"
              style="text-align: center"
            >
              AVAILABLE
            </th>
            <th
              tabindex="0"
              aria-controls="DataTables_Table_0"
              rowspan="1"
              colspan="1"
              style="padding-right: 40px; text-align: center"
            >
              ACTION
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let wallet of walletList" role="row" class="odd">
            <td style="text-align: center">
              {{ wallet.name }}
            </td>
            <td style="text-align: center">{{ wallet.balance }}</td>
            <td style="text-align: center">{{ wallet.investedBalance }}</td>
            <td style="text-align: center">{{ wallet.investedBalance }}</td>
            <td style="text-align: center">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button
                  type="button"
                  class="btn btn-outline-success waves-effect waves-light"
                  (click)="depositPopup(+wallet.walletType)"
                >
                  Deposit
                </button>
                <button
                  type="button"
                  class="btn btn-outline-info waves-effect waves-light"
                  (click)="withdrawPopup(+wallet.walletType)"
                >
                  Withdraw
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- DataTable ends -->
</section>
<div
  *ngIf="popupDeposit"
  class="swal2-container swal2-center swal2-fade swal2-shown"
  ngif
  style="overflow-y: auto"
>
  <div
    aria-labelledby="swal2-title"
    aria-describedby="swal2-content"
    class="swal2-popup swal2-modal swal2-show"
    tabindex="-1"
    role="dialog"
    aria-live="assertive"
    aria-modal="true"
    style="display: flex"
  >
    <div class="card-header-choos-plan">
      <h4 class="card-title">Deposit Steps</h4>
      <button
        type="button"
        (click)="closePopupDeposit()"
        class="swal2-close"
        aria-label="Close this dialog"
        style="display: flex"
      >
        ×
      </button>
    </div>
    <div class="card-content">
      <div class="card-body">
        <form
          action="#"
          class="steps-validation wizard-circle wizard clearfix"
          role="application"
          id="steps-uid-2"
          novalidate="novalidate"
        >
          <div class="steps clearfix">
            <ul role="tablist">
              <li
                #paymentLi
                role="tab"
                class="first current"
                aria-disabled="false"
                aria-selected="true"
              >
                <a
                  id="steps-uid-2-t-0"
                  aria-controls="steps-uid-2-p-0"
                  ><span class="current-info audible">current step: </span
                  ><span class="step"
                    ><i class="step-icon feather icon-credit-card"></i
                  ></span>
                  Payment</a
                >
              </li>
              <li
                #transactionIdentificationLi
                role="tab"
                class="disabled"
                aria-disabled="true"
              >
                <a
                  id="steps-uid-2-t-1"
                  aria-controls="steps-uid-2-p-1"
                  ><span class="step"
                    ><i class="step-icon feather icon-file-text"></i
                  ></span>
                  Transaction Identification</a
                >
              </li>
              <li
                #confirmationLi
                role="tab"
                class="disabled"
                aria-disabled="true"
              >
                <a
                  id="steps-uid-2-t-1"
                  aria-controls="steps-uid-2-p-1"
                  ><span class="step"
                    ><i class="step-icon feather icon-check"></i
                  ></span>
                  Confirmation</a
                >
              </li>
            </ul>
          </div>
          <div class="content clearfix">
            <!-- Step 1 -->
            <h6 id="steps-uid-2-h-0" tabindex="-1" class="title current">
              <i class="step-icon feather icon-home"></i> Step 1
            </h6>
            <fieldset
              [style.display]="stepOne"
              id="steps-uid-2-p-0"
              role="tabpanel"
              aria-labelledby="steps-uid-2-h-0"
            >
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <div class="form-group">
                    <p>Your wallet address (QR)</p>
                  </div>
                </div>
                <div class="col-md-4"></div>
              </div>
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <div class="form-group">
                    <img src={{pathQR}} />
                  </div>
                </div>
                <div class="col-md-4"></div>
              </div>
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                  <div class="form-group" style="word-wrap: break-word">
                    <p>
                      {{displayWalletAddress}}
                    </p>
                  </div>
                </div>
                <div class="col-md-1"></div>
              </div>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="firstName3"> Wallet </label>
                    <select
                      [formControl]="walletType"
                      class="form-control"
                      id="basicSelect"
                      (change)="changeWalletType($event)"
                    >
                      <option value="" disabled selected>
                        Select your wallet
                      </option>
                      <option
                        [ngValue]="count.key"
                        *ngFor="let count of cryptoList"
                      >
                        {{ count.value }}
                      </option>
                    </select>
                    <div *ngIf="submitted && walletType.errors?.required">
                      <div class="danger">Wallet is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="firstName3"> Amount </label>
                    <input
                      digitOnly
                      [decimal]="true"
                      type="text"
                      [ngClass]="{
                        'is-invalid': submitted && amount.errors?.required
                      }"
                      [formControl]="amount"
                      class="form-control required"
                      id="firstName3"
                      name="firstName"
                    />
                  </div>
                </div>
                <div class="col-md-2"></div>
              </div>
            </fieldset>

            <!-- Step 2 -->
            <h6 id="steps-uid-2-h-1" tabindex="-1" class="title">
              <i class="step-icon feather icon-check"></i> Step 2
            </h6>
            <fieldset
              [style.display]="stepTwo"
              id="steps-uid-2-p-1"
              role="tabpanel"
              aria-labelledby="steps-uid-2-h-1"
              class="body"
            >
              <div class="row">
                <div class="col-md-12">
                  <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Attention</h4>
                    <p class="mb-0">
                      After the payment operation, enter the transaction id in
                      this step and go to the next step.
                    </p>
                  </div>
                  <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">Warning</h4>
                    <p class="mb-0">
                      Be careful when entering this number, because if you enter
                      the wrong number, your payment may be lost.
                    </p>
                  </div>
                  <div class="form-group">
                    <label for="proposalTitle3"> Transaction Id </label>
                    <input
                      type="text"
                      [formControl]="transactionId"
                      [ngClass]="{
                        'is-invalid': submitted && transactionId.errors?.required
                      }"
                      placeholder="Enter your transaction id"
                      class="form-control required"
                      id="proposalTitle3"
                      name="proposalTitle"
                    />
                    <div *ngIf="submitted && currentStep == 2">
                      <div
                        *ngIf="transactionId.errors?.minlength || transactionId.errors?.maxlength"
                        class="danger"
                      >
                        TransactionId not well formed
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>

            <!-- Step 3 -->
            <h6 id="steps-uid-2-h-2" tabindex="-1" class="title">
              <i class="step-icon feather icon-image"></i> Step 3
            </h6>
            <fieldset
              [style.display]="stepThree"
              id="steps-uid-2-p-2"
              role="tabpanel"
              aria-labelledby="steps-uid-2-h-2"
              class="body"
            >
              <div class="row">
                <div class="col-md-12">
                  <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Success</h4>
                    <p class="mb-0" style="float: left; padding-right: 10px">
                      Your payment number is:
                    </p>
                    <h4>{{ paymentNumber }}</h4>
                    <p class="mb-0">
                      If your account balance is not charged within 2 hours, you
                      can check the problem with our colleagues through the
                      payment number. So keep the number with you until the
                      balance is fully updated.
                    </p>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="actions clearfix">
            <ul role="menu" aria-label="Pagination">
              <li [style.display]="previousButton">
                <a (click)="previous()" class="btn btn-danger" role="menuitem"
                  >Previous</a
                >
              </li>
              <li [style.display]="nextButton" aria-disabled="false">
                <a (click)="next()" role="menuitem">Next</a>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
    <div class="swal2-footer" style="display: none"></div>
  </div>
</div>

<div
  *ngIf="popupWithdraw"
  class="swal2-container swal2-center swal2-fade swal2-shown"
  ngif
  style="overflow-y: auto"
>
  <div
    aria-labelledby="swal2-title"
    aria-describedby="swal2-content"
    class="swal2-popup swal2-modal swal2-show"
    tabindex="-1"
    role="dialog"
    aria-live="assertive"
    aria-modal="true"
    style="display: flex"
  >
    <div class="card-header-choos-plan">
      <h4 class="card-title">Withdraw</h4>
      <button
        type="button"
        (click)="closePopupWithdraw()"
        class="swal2-close"
        aria-label="Close this dialog"
        style="display: flex"
      >
        ×
      </button>
    </div>
    <div class="card-content">
      <div class="card-body">
        <form
          action="#"
          class="steps-validation wizard-circle wizard clearfix"
          role="application"
          id="steps-uid-2"
          novalidate="novalidate"
        >
        <div class="steps clearfix">
          <ul role="tablist">
            <li
              #paymentLi
              role="tab"
              class="first current"
              aria-disabled="false"
              aria-selected="true"
            >
              <a
                id="steps-uid-2-t-0"
                aria-controls="steps-uid-2-p-0"
                ><span class="current-info audible">current step: </span
                ><span class="step"
                  ><i class="step-icon feather icon-credit-card"></i
                ></span>
                Withdraw Request</a
              >
            </li>
            <li
              #confirmationLi
              role="tab"
              class="disabled"
              aria-disabled="true"
            >
              <a
                id="steps-uid-2-t-1"
                aria-controls="steps-uid-2-p-1"
                ><span class="step"
                  ><i class="step-icon feather icon-check"></i
                ></span>
                Confirmation</a
              >
            </li>
          </ul>
        </div>
          <div class="content clearfix">
            <!-- Step 2 -->
            <h6 id="steps-uid-2-h-1" tabindex="-1" class="title">
              <i class="step-icon feather icon-check"></i> Step 2
            </h6>
            <fieldset
              [style.display]="stepOneWithdraw"
              id="steps-uid-2-p-1"
              role="tabpanel"
              aria-labelledby="steps-uid-2-h-1"
              class="body"
            >
              <div class="row">
                <div class="col-md-12">
                  <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Attention</h4>
                    <ul class="b">
                      <li>After the check operation, the money will be transferred to your account up to 6 hours on working days.</li>
                      <li>If the money is not credited to your account within the said period, contact our colleagues to follow up the problem.</li>
                      <li>Note that the transfer fee will be deducted from the desired amount.</li>
                    </ul>
                  </div>
                  <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">Warning</h4>
                    <p class="mb-0">
                      Be careful when filling your wallet address, because if you type
                      the wrong wallet address, your money may be lost.
                    </p>
                  </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="firstName3"> Wallet </label>
                    <select
                      [formControl]="walletType"
                      class="form-control"
                      id="basicSelect"
                    >
                      <option value="" disabled selected>
                        Select your wallet
                      </option>
                      <option
                        [ngValue]="count.key"
                        *ngFor="let count of cryptoList"
                      >
                        {{ count.value }}
                      </option>
                    </select>
                    <div *ngIf="submitted && walletType.errors?.required">
                      <div class="danger">Wallet is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="firstName3"> Amount </label>
                    <input
                    digitOnly
                    [decimal]="true"
                      type="text"
                      [ngClass]="{
                        'is-invalid': submitted && amount.errors?.required
                      }"
                      [formControl]="amount"
                      class="form-control required"
                      id="firstName3"
                      name="firstName"
                    />
                  </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="proposalTitle3"> Wallet Address </label>
                    <input
                      type="text"
                      [ngClass]="{
                        'is-invalid': submitted && walletAddress.errors?.required
                      }"
                      [formControl]="walletAddress"
                      placeholder="Enter your wallet address"
                      class="form-control required"
                      id="proposalTitle3"
                      name="proposalTitle"
                    />
                    <div *ngIf="submitted">
                      <div
                        *ngIf="walletAddress.errors?.minlength || walletAddress.errors?.maxlength"
                        class="danger"
                      >
                      Wallet Address not well formed
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <!-- Step 3 -->
            <h6 id="steps-uid-2-h-2" tabindex="-1" class="title">
              <i class="step-icon feather icon-image"></i> Step 3
            </h6>
            <fieldset
              [style.display]="stepTwoWithdraw"
              id="steps-uid-2-p-2"
              role="tabpanel"
              aria-labelledby="steps-uid-2-h-2"
              class="body"
            >
              <div class="row">
                <div class="col-md-12">
                  <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Success</h4>
                    <p class="mb-0" style="float: left; padding-right: 10px">
                      Your confirmation code is:
                    </p>
                    <h4>{{ withdrawalNumber }}</h4>
                    <ul class="b">
                      <li>Your request has been received, the money will be deposited for you at the first opportunity.</li>
                      <li>If the money is not transferred to your wallet within 12 hours, please contact our partners with the confirmation code to address the issue.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="actions clearfix">
            <ul role="menu" aria-label="Pagination">
              <li style="float: none;text-align: center;" [style.display]="nextButton" aria-disabled="false">
                <a (click)="withdraw()" role="menuitem">Withdraw</a>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
    <div class="swal2-footer" style="display: none"></div>
  </div>
</div>
