.swal2-popup.swal2-modal.swal2-show {
    background-color: #10163A !important;
}
.swal2-popup {
    width: 50em !important;
}
.form-group{
    text-align: center !important;
}
.swal2-close{
    font-weight: bold;
    font-family: 'Montserrat';
}
.swal2-container.swal2-fade {
    transition: background-color .1s; 
}
select.form-control:not([multiple='multiple']) {
    background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' fill=\'none\' stroke=\'%23d8d6de\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-linejoin=\'round\' class=\'feather feather-chevron-down\'%3E%3Cpolyline points=\'6 9 12 15 18 9\'%3E%3C/polyline%3E%3C/svg%3E');
    background-position: calc(100% - 12px) 13px, calc(100% - 20px) 13px, 100% 0;
    background-size: 12px 12px, 10px 10px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 1.5rem;
}
.has-icon-left .form-control-position i {
    position: relative;
    left: 5px;
    color: #C2C6DC !important;
}
table.data-list-view.dataTable tbody tr{
    cursor: unset !important;
}
.depositButton{
    background-color: #28C76F !important;
    border: 0;
    color: white;
}
.withdrawButton{
    background-color: #00CFE8 !important;
    border: 0;
    color: white;
}
table.data-list-view.dataTable tbody tr, table.data-thumb-view.dataTable tbody tr:hover {
       -webkit-transition: unset !important;
       transform: unset !important;
    border-radius: 0 ;
}
table {
    border-collapse: unset !important;
    font-size: 1.5rem;
}
ul.b {
    list-style-type: square;
  }