table {
    border-collapse: inherit;
}
table.data-list-view.dataTable tbody tr:hover, table.data-thumb-view.dataTable tbody tr:hover {
    transform: translateY(0px) !important;
}
table.data-list-view.dataTable tbody tr, table.data-thumb-view.dataTable tbody tr {
    cursor: unset;
}
.no-content{
  background-color: #212744;
  margin-top: -14px;
  padding: 40px;
  text-align: center;
  font-size: large;
  border-style: dashed;
  border-color: darkgray;
  border-width: 2px;
}
.no-content p{
  margin: 0;
}
