.navbar-container.content {
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 1rem !important;
}
.header-navbar .navbar-container ul.nav li.dropdown-language > a.nav-link {
    padding: 0.65rem 0.5rem;
}