<div class="content-header row">
  <div class="content-header-left col-md-9 col-12 mb-2">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <h2 class="content-header-title float-left mb-0">Edit Profile</h2>
        <div class="breadcrumb-wrapper col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Edit Profile</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="page-account-settings">
  <div class="row">
    <!-- left menu section -->
    <div class="col-md-3 mb-2 mb-md-0">
      <ul class="nav nav-pills flex-column mt-md-0 mt-1">
        <li class="nav-item">
          <a
            class="nav-link d-flex py-75 active"
            id="account-pill-general"
            data-toggle="pill"
            href="#account-vertical-general"
            aria-expanded="true"
          >
            <i class="feather icon-globe mr-50 font-medium-3"></i>
            General
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex py-75"
            id="account-pill-password"
            data-toggle="pill"
            href="#account-vertical-password"
            aria-expanded="false"
          >
            <i class="feather icon-lock mr-50 font-medium-3"></i>
            Change Password
          </a>
        </li>
      </ul>
    </div>
    <!-- right content section -->
    <div class="col-md-9">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="tab-content">
              <div
                role="tabpanel"
                class="tab-pane active"
                id="account-vertical-general"
                aria-labelledby="account-pill-general"
                aria-expanded="true"
              >
                <form novalidate="" [formGroup]="generalForm" (ngSubmit)="onGeneralFormSubmit();">
                  <div class="row">
                      <div class="col-12">
                      <div class="form-group">
                        <div class="controls">
                          <label for="account-name">Email</label>
                          <input
                            disabled readonly
                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"
                            type="text"
                            formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': generalFormSubmitted && getGeneralForm.email.errors }"
                            id="account-name"
                            placeholder="Email address"
                            required=""
                            data-validation-required-message="This Name field is required"
                          />
                          <div *ngIf="getGeneralForm.email.hasError('maxlength') && generalFormSubmitted" class="alert alert-danger">
                            Email cannot exceed 50 characters
                          </div>
                          <div *ngIf="getGeneralForm.email.errors?.pattern && generalFormSubmitted" class="alert alert-danger">
                            Please enter a valid email
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <div class="controls">
                          <label for="account-name">First Name</label>
                          <input
                            type="text"
                            formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': generalFormSubmitted && getGeneralForm.firstName.errors }"
                            id="account-name"
                            placeholder="First Name"
                            required=""
                            data-validation-required-message="This Name field is required"
                          />
                            <div *ngIf="getGeneralForm.firstName.hasError('maxlength') && generalFormSubmitted" class="alert alert-danger" >
                              First Name cannot exceed 50 characters
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                          <div class="controls">
                            <label for="account-name">Last Name</label>
                            <input
                              type="text"
                              formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': generalFormSubmitted && getGeneralForm.lastName.errors }"
                              id="account-lastName"
                              placeholder="Last Name"
                              required=""
                              data-validation-required-message="This Last Name field is required"
                            />
                            <div *ngIf="getGeneralForm.lastName.hasError('maxlength') && generalFormSubmitted" class="alert alert-danger" >
                              Last Name cannot exceed 50 characters
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                            <label for="edit-country" class="form-label">Country</label>
                            <select class="form-control" id="accountSelect"
                            formControlName="country" [ngClass]="{ 'is-invalid': generalFormSubmitted && getGeneralForm.country.errors }">
                            <option *ngFor ="let count of countryList">{{count}} </option>
                            </select>
                        </div>
                      </div>
                    <div
                      class="
                        col-12
                        d-flex
                        flex-sm-row flex-column
                        justify-content-end
                      "
                    >
                      <button
                        type="submit"
                        class="
                          btn btn-primary
                          mr-sm-1
                          mb-1 mb-sm-0
                          waves-effect waves-light
                        "
                      >
                        Save changes
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div
                class="tab-pane fade"
                id="account-vertical-password"
                role="tabpanel"
                aria-labelledby="account-pill-password"
                aria-expanded="false"
              >
                <form
                  novalidate=""
                  [formGroup]="changePasswordForm"
                  (ngSubmit)="onChangePasswordFormSubmit();"
                >
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="register-password" class="form-label">Old Password</label>
                        <div class="input-group input-group-merge form-password-toggle">
                          <input
                          formControlName="oldPassword"
                            [ngClass]="{
                              'is-invalid': changePasswordFormSubmitted && getChangePasswordForm.oldPassword.errors
                            }"
                            type="password"
                            name="con-password"
                            class="form-control"
                            required=""
                            id="account-retype-new-password"
                            placeholder="Old password"
                            minlength="6"
                          />
                          <div class="input-group-append">
                            <span [ngStyle]="{
                              'border-color':
                                submitted && getChangePasswordForm.oldPassword.errors ? '#EA5455' : '#10163A'}"
                            class="input-group-text cursor-pointer"><i class="feather icon-eye"></i></span>
                          </div>
                        </div>
                          <div>
                            <p style="line-height: 0.5rem !important;" *ngIf="changePasswordFormSubmitted && getChangePasswordForm.oldPassword.hasError('minlength')" class="alert alert-danger">
                              Password must be at least 6 characters long
                            </p>
                            <p style="line-height: 0.5rem !important;" *ngIf="changePasswordFormSubmitted && getChangePasswordForm.oldPassword.hasError('maxlength')" class="alert alert-danger">
                              Password cannot exceed 30 characters
                            </p>
                          </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label for="register-password" class="form-label">New Password</label>
                        <div class="input-group input-group-merge form-password-toggle">
                          <input
                          formControlName="newPassword"
                            [ngClass]="{
                              'is-invalid': changePasswordFormSubmitted && getChangePasswordForm.newPassword.errors
                            }"
                            type="password"
                            name="con-password"
                            class="form-control"
                            required=""
                            id="account-retype-new-password"
                            placeholder="New password"
                            minlength="6"
                          />
                          <div class="input-group-append">
                            <span [ngStyle]="{
                              'border-color':
                                submitted && getChangePasswordForm.newPassword.errors ? '#EA5455' : '#10163A'}"
                            class="input-group-text cursor-pointer"><i class="feather icon-eye"></i></span>
                          </div>
                        </div>
                          <div>
                            <p style="line-height: 0.5rem !important;" *ngIf="changePasswordFormSubmitted && getChangePasswordForm.newPassword.hasError('minlength')" class="alert alert-danger">
                              Password must be at least 6 characters long
                            </p>
                            <p style="line-height: 0.5rem !important;" *ngIf="changePasswordFormSubmitted && getChangePasswordForm.newPassword.hasError('maxlength')" class="alert alert-danger">
                              Password cannot exceed 30 characters
                            </p>
                          </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label for="register-password" class="form-label">Confirm Password</label>
                        <div class="input-group input-group-merge form-password-toggle">
                          <input
                          formControlName="confirmPassword"
                            [ngClass]="{
                              'is-invalid': changePasswordFormSubmitted && getChangePasswordForm.confirmPassword.errors
                            }"
                            type="password"
                            name="con-password"
                            class="form-control"
                            required=""
                            id="account-retype-new-password"
                            placeholder="Retype your new password"
                            minlength="6"
                          />
                          <div class="input-group-append">
                            <span [ngStyle]="{
                              'border-color':
                                submitted && getChangePasswordForm.confirmPassword.errors ? '#EA5455' : '#10163A'}"
                            class="input-group-text cursor-pointer"><i class="feather icon-eye"></i></span>
                          </div>
                        </div>
                          <div  >
                            <p style="line-height: 0.5rem !important;" *ngIf="changePasswordFormSubmitted && getChangePasswordForm.confirmPassword.hasError('minlength')" class="alert alert-danger">
                              Password must be at least 6 characters long
                            </p>
                            <p style="line-height: 0.5rem !important;" *ngIf="changePasswordFormSubmitted && getChangePasswordForm.confirmPassword.hasError('maxlength')" class="alert alert-danger">
                              Password cannot exceed 30 characters
                            </p>
                            <p class="alert alert-danger" *ngIf="changePasswordFormSubmitted && changePasswordForm.hasError('notSame')">
                              Password does not match
                            </p>
                          </div>
                      </div>
                    </div>

                    <div
                      class="
                        col-12
                        d-flex
                        flex-sm-row flex-column
                        justify-content-end
                      "
                    >
                      <button
                        type="submit"
                        class="
                          btn btn-primary
                          mr-sm-1
                          mb-1 mb-sm-0
                          waves-effect waves-light
                        "
                      >
                        Save changes
                        <span class="spinner-border spinner-border-sm" *ngIf="loading"></span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
