
<section
  class="page-title centred"
  style="
    background-image: url(../../assets/images/content-title.jpg);
  "
>
  <div class="container">
    <div class="content-box">
      <ul class="bread-crumb">
        <li><a href="/">Home</a></li>
        <li>Terms</li>
      </ul>
      <div class="title">
        <h2>Terms</h2>
      </div>
    </div>
  </div>
</section>

<section class="single-service sidebar-page-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 service-content-column">
        <div class="service-details-content">
          <div class="inner-box">
            <div class="content-style-one">
              <div class="title-box">
                <span>Terms of Service Agreement - Kamson Fund</span>
              </div>
            </div>
            <div class="content-style-three">
              <ul class="accordion-box">
                <li class="accordion block">
                  <div class="acc-btn active">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Legislation
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        We reserves the right, at any time and from time to
                        time, to amend or to modify these Terms of Service. All
                        personal data processed by us is done so in accordance
                        with applicable Sections 5 and 6 of the Data Protection
                        Act 2019
                      </div>
                    </div>
                  </div>
                </li>
                <li class="accordion block active-block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Queries and Complaints
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        If you are unhappy with the way we handle your personal
                        data and wish to complain, or if you simply want further
                        information about the way your personal data will be
                        used, please contact us at the below:<br /><br />
                        <strong>Data Protection Officer</strong><br />
                        <strong>Kamson Fund</strong><br />
                        <strong>AVON, 1-5 St James Barton Roundabout,</strong
                        ><br />
                        <strong>Broadmead, Bristol BS1 3LT,</strong><br />
                        <strong>United Kingdom</strong>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Collection of your personal information
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        We do not collect any personal information about you
                        unless you voluntarily provide it to us. However, you
                        may be required to provide certain personal information
                        to us when you elect to use certain products or services
                        available on the Website. If a user experiences a
                        problem with processing their payment, that user should
                        contact the third-party merchant who processed the
                        payment. Kamson Fund is not liable for any damages
                        incurred by users as a result of a user’s interaction
                        with third-party payment processing companies.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Limitation of liability
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        All information contained on any page set up by Kamson
                        Fund is distributed with the understanding that the
                        authors, publishers and distributors are not rendering
                        legal, accounting or other professional advice or
                        opinions on specific facts or matters and accordingly
                        assume no liability whatsoever in connection with its
                        use. Consult your own legal advisor with respect to your
                        personal situation. In no event shall Kamson Fund be
                        liable for any direct, indirect, special, incidental or
                        consequential damages arising out of the use of the
                        information herein.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Recruitment Data Privacy
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        The data and files that applicants provide us with as
                        part of their application is processed and stored in a
                        GDPR-compliant, cloud-based application tracking
                        software system (Workable.com). It is processed only by
                        our recruiting team for recruiting purposes, and is not
                        shared otherwise. Applicant can at any time e-mail us to
                        obtain a copy of the data we are storing about them,
                        and/or ask for its deletion. Unless a candidate asks for
                        deletion of their data, we will store the candidate
                        profile in our talent pool for future reference and
                        consideration in recruitment opportunities.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    What rights do you have regarding your data?
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        You always have the right to request information about
                        your stored data, its origin, its recipients, and the
                        purpose of its collection at no charge. You also have
                        the right to request that it be corrected, blocked, or
                        deleted. You can contact us at any time using the
                        address given in the legal notice if you have further
                        questions about the issue of privacy and data
                        protection. You may also, of course, file a complaint
                        with the competent regulatory authorities.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Data Processing
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        This website uses Google Analytics, a web analytics
                        service provided by Google Ireland Limited. If the
                        responsible body for the data processing that occurs via
                        this website has their basis outside of the European
                        Economic area and Switzerland, then the associated
                        Google Analytics data processing is carried out by
                        Google LLC. Google Ireland Limited and Google LLC. will
                        hereinafter be referred to as “Google”.<br /><br />
                        The website visitor may refuse the use of cookies by
                        selecting the appropriate settings in their browser. The
                        website visitor can also prevent Google from collecting
                        information (including their IP address) via cookies and
                        processing this information by downloading this browser
                        plugin and installing it:
                        http://tools.google.com/dlpage/gaoptout
                      </div>
                    </div>
                  </div>
                </li>
                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Interpretation
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        Section headings and captions in these Terms are for
                        convenience of reference only and shall not be
                        considered a part of or affect the interpretation of
                        these Terms. References to a statute or statutory
                        provision includes any consolidation, re-enactment,
                        modification or replacement of the same, any statute or
                        statutory provision of which it is a consolidation,
                        re-enactment or replacement of and any subordinate
                        legislation in force under any of the same from time to
                        time.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Customer Content
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        You shall own all right, title and interest in and to
                        all of the data and content (including, but not limited
                        to, Personal Data, files, images and text) inputted or
                        provided by you in the course of availing of the
                        Services (your "Customer Content") and you shall have
                        sole responsibility for and hereby warrant the legality,
                        reliability, integrity, accuracy and quality of your
                        Customer Content.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Third Party Providers
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        You acknowledge that the Website and the Services may
                        enable or assist you to access the website content of,
                        correspond with, and purchase products and services
                        from, third parties via third-party websites and that
                        you do so solely at your own risk. We make no
                        representation or commitment and shall have no liability
                        or obligation whatsoever in relation to the content or
                        use of, or correspondence with, any such third-party
                        website, or any transactions completed, and any contract
                        entered into by you, with any such third party. Any
                        contract entered into and any transaction completed via
                        any third-party website is between you and the relevant
                        third party, and not Tito. We recommend that you refer
                        to the third party’s website terms and conditions and
                        privacy policy prior to using the relevant third-party
                        website. We do not endorse or approve any third-party
                        website nor the content of any of the third-party
                        websites made available via the Website or the Services.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Eligibility & Registration
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        The Services are not targeted towards, nor intended for
                        use by, anyone under the age of 18. By using the
                        Services, you represent and warrant that you are 18
                        years of age or older. If you are under the age of 18,
                        you may not, under any circumstances or for any reason,
                        use the Services. We may, in our sole discretion, refuse
                        to offer the Services to any person or entity and change
                        its eligibility criteria at any time. You are solely
                        responsible for ensuring that these Terms of Service are
                        in compliance with all laws, rules and regulations
                        applicable to you and the right to access the Services
                        is revoked where these Terms of Service or use of the
                        Services is prohibited or to the extent offering, sale
                        or provision of the Services conflicts with any
                        applicable law, rule or regulation. Further, the
                        Services are offered only for your use, and not for the
                        use or benefit of any third party.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Rules of Conduct
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        As a condition of use, you promise not to use the
                        Services for any purpose that is prohibited by these
                        Terms of Service. You are responsible for all of your
                        activity in connection with the Services and the
                        activity of any sub-user that uses your access code or
                        Account.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="accordion block">
                  <div class="acc-btn">
                    <div class="icon-outer">
                      <span class="icon fa fa-plus"></span>
                    </div>
                    Copyright Policy
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        Kamson Fund respects the intellectual property rights of
                        others and expects users of the Website to do the same.
                        Kamson Fund users are prohibited from uploading to or
                        via the Website any content that they do not have the
                        right to post, including but not limited to copyrighted
                        material. Kamson Fund will cooperate and respond to
                        notices of alleged copyright infringement that have a
                        reasonable legal basis for the claim, as determined by
                        legal counsel for the Company. Any infringing material
                        discovered on the Website will be removed from the
                        Website. Repeat infringers will not be tolerated.
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
