<div
  class="
    vertical-layout vertical-menu-modern
    blank-page
    navbar-floating
    footer-static
  "
  data-open="click"
  data-menu="vertical-menu-modern"
  data-col="blank-page"
>
  <!-- BEGIN: Content-->
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div>
      <div class="content-header row"></div>
      <div class="content-body">
        <div class="auth-wrapper auth-v1 px-2">
          <div class="auth-inner py-2">
            <!-- Forgot Password v1 -->
            <div class="card mb-0">
              <div class="card-body">
                <a href="javascript:void(0);" class="brand-logo">
                  <h2 class="brand-text text-primary ml-1">Vuexy</h2>
                </a>

                <h4 class="card-title mb-1">Forgot Password? 🔒</h4>
                <p class="card-text mb-2">
                  Enter your email and we'll send you instructions to reset your
                  password
                </p>

                <form
                  [formGroup]="form"
                  class="auth-forgot-password-form mt-2"
                  action="page-auth-reset-password-v1.html"
                  method="POST"
                >
                <div class="form-group">
                  <label for="login-email" class="form-label">Email</label>
                  <input
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    type="text"
                    formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    class="form-control"
                    placeholder="john@example.com"
                    aria-describedby="login-email"
                    tabindex="1"
                    autofocus
                  />
                </div>
                  <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert alert-danger" >
                    <p *ngIf="submitted && f.email.errors?.pattern">
                      Please enter a valid email
                    </p>
                    <p *ngIf="f.email.hasError('maxlength')">
                      Your email cannot exceed 50 characters
                    </p>
                  </div>
                  <div class="form-group" *ngIf="isResetFormVisible">
                    <label for="login-email" class="form-label">Reset Code</label>
                    <input
                      type="text"
                      formControlName="resetCode"
                      [ngClass]="{ 'is-invalid': submitted && f.resetCode.errors }"
                      class="form-control"
                      placeholder="Enter the reset code here"
                      aria-describedby="login-email"
                      tabindex="1"
                      autofocus
                    />
                  </div>
                  <div class="form-group" *ngIf="isResetFormVisible">
                    <label for="register-password" class="form-label">New Password</label>
                    <div class="input-group input-group-merge form-password-toggle">
                      <input
                        type="password"
                        formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
                        class="form-control form-control-merge"
                        id="register-password"
                        name="register-password"
                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                        aria-describedby="register-password"
                        tabindex="3"
                      />
                      <div class="input-group-append">
                        <span [ngStyle]="{
                          'border-color':
                            submitted && f.newPassword.errors ? '#EA5455' : null}"
                        class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                      </div>
                      <div *ngIf="f.newPassword.invalid && (f.newPassword.dirty || f.newPassword.touched)" class="alert alert-danger" >
                        <p *ngIf="submitted && f.newPassword.hasError('minlength')">
                          Your new password must be at least 6 characters long
                        </p>
                        <p *ngIf="submitted && f.newPassword.hasError('maxlength')">
                          Your new password cannot exceed 30 characters
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" *ngIf="isResetFormVisible">
                    <label for="register-password" class="form-label">Confirm Password</label>
                    <div class="input-group input-group-merge form-password-toggle">
                      <input
                        type="password"
                        formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                        class="form-control form-control-merge"
                        id="register-confirmPassword"
                        name="register-confirmPassword"
                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                        aria-describedby="register-confirmPassword"
                        tabindex="3"
                      />
                      <div class="input-group-append">
                        <span [ngStyle]="{
                          'border-color':
                            submitted && f.confirmPassword.errors ? '#EA5455' : null}" 
                        class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                      </div>
                      <div *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)" class="alert alert-danger" >
                        <p *ngIf="submitted && f.confirmPassword.hasError('minlength')">
                          Your password must be at least 6 characters long
                        </p>
                        <p *ngIf="submitted && f.confirmPassword.hasError('maxlength')">
                          Your password cannot exceed 30 characters
                        </p>
                      </div>
                      
                    </div>
                  </div>
                  <div class="alert alert-danger" *ngIf="submitted && form.hasError('notSame')">
                    password does not match
                  </div>
                  <button class="btn btn-primary btn-block" (click)="sendResetPassword();" tabindex="2">
                    {{submitText}}
                  </button>
                </form>

                <p class="text-center mt-2">
                  <a href="login">
                    <i data-feather="chevron-left"></i> Back to login
                  </a>
                </p>
              </div>
            </div>
            <!-- /Forgot Password v1 -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Content-->
</div>
<!-- END: Body-->
