.toast.toast-success {
    background-color: #28C76F !important;
    color: #FFFFFF;
}

.toast.toast-info {
    background-color: #00CFE8 !important;
    color: #FFFFFF;
}
.toast.toast-warning {
    background-color: #FF9F43 !important;
    color: #FFFFFF;
}

.toast.toast-error {
    background-color: #EA5455 !important;
    color: #FFFFFF;
}
.toast-container{
    z-index: 2000;
}
