

<section class="main-slider centred">
  <div class="main-slider-carousel owl-carousel owl-theme">
    <div
      class="slide"
      style="
        background-image: url(../../assets/images/slide1.jpg);
      "
    >
      <div class="container">
        <div>
          <h1>
            We bring entrepreneurial ideas<br />
            to life by creating <span>investment-ready projects.</span>
          </h1>
          <div class="slider-btn">
            <a href="/register" class="theme-btn">
              Join Us<i class="flaticon-outcoming-object"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="slide"
      style="
        background-image: url(../../assets/images/slide2.jpg);
      "
    >
      <div class="container">
        <div>
          <h1>
            We provide flexible<br />
            investment solutions<br />
            <span>for private customers</span>
          </h1>
          <div class="slider-btn">
            <a href="/about-us" class="theme-btn">
              Read More<i class="flaticon-outcoming-object"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-product">
  <div class="container">
    <div class="sec-title centred">
      <span>Achieve Stable Returns with Kamson Fund.</span>
      <h2>Sustainable Investment</h2>
    </div>
    <div class="inner-content">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 product-column">
          <div class="about-img-box">
            <img
              src="../../assets/images/business.jpg"
              alt="Kamson Fund"
            />
          </div>
          <p>
            Kamson Fund is a private investment firm founded by a team with
            extensive investment experience across the consumer, industrials and
            business services sectors. Kamson Fund was founded in 2018 and is
            headquartered in Bristol, United Kingdom. The long-term success of
            our investment strategy is closely linked to the state of the oceans
            and the condition of the organisms living there. It is therefore of
            fundamental importance for Kamson Fund and a part of our corporate
            governance policy that the companies we support conduct their
            operations in a responsible manner. Environmental footprints must be
            minimized and the working environment for all involved should be
            safe and healthy.
          </p>
          <p>
            Our investment strategy is founded on a fundamental understanding of
            the industry and thorough research which has enabled the company to
            create significant value since inception. Kamson Fund invests risk
            capital in some of the most promising companies in their respective
            markets. Kamson Fund can make direct investments in companies,
            invest in seed capital and venture funds, make matching investments
            jointly with private investors in seed- and venture phase
            businesses, as well as facilitate pre-seed investments either in
            funds or by matching.
          </p>
          <p>
            A core part of the team’s investment strategy is to build robust
            partnerships with entrepreneurs and management teams. Kamson Fund
            takes control positions in profitable businesses with unrealised
            growth potential that can be triggered by applying our ownership
            methodology and expertise. Our approach is based on successful
            execution on focused, actionable value creation plans that build
            better companies.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ourmission-section centred"
  style="
    background-image: url(../../assets/images/about-bg.jpg);
  "
>
  <div class="container">
    <div class="content-box">
      <h1>We design and deliver investment opportunities.</h1>
      <a href="/register" class="theme-btn">
        Join us today!<i class="flaticon-outcoming-object"></i>
      </a>
    </div>
  </div>
</section>

<section class="pricing-section sec-pad centred">
  <div class="container">
    <div class="sec-title">
      <h2>Investment Plans.</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 price-column">
        <div
          class="price-table wow fadeInLeft"
          data-wow-delay="00ms"
          data-wow-duration="1500ms"
        >
          <div class="table-header">
            <div class="price">
              <h2>128</h2>
              %
            </div>
            <div class="title">After 1 Day</div>
          </div>
          <div class="table-content">
            <ul>
              <li>Minimum Deposit : $10</li>
              <li>Maximum Deposit : $100, 000</li>
              <li>Affiliate Bonus : 5%</li>
              <li>1 day Investment Contract</li>
              <li>Principal Included</li>
            </ul>
          </div>
          <div class="table-footer">
            <a href="/register" class="theme-btn">
              Invest Now<i class="flaticon-outcoming-object"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 price-column">
        <div
          class="price-table wow fadeInLeft"
          data-wow-delay="300ms"
          data-wow-duration="1500ms"
        >
          <div class="table-header">
            <div class="price">
              <h2>450</h2>
              %
            </div>
            <div class="title">After 3 Days</div>
          </div>
          <div class="table-content">
            <ul>
              <li>Minimum Deposit : $301</li>
              <li>Maximum Deposit : $100, 000</li>
              <li>Affiliate Bonus : 5%</li>
              <li>3 days Investment Contract</li>
              <li>Principal Included</li>
            </ul>
          </div>
          <div class="table-footer">
            <a href="/register" class="theme-btn">
              Invest Now<i class="flaticon-outcoming-object"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 price-column">
        <div
          class="price-table wow fadeInLeft"
          data-wow-delay="600ms"
          data-wow-duration="1500ms"
        >
          <div class="table-header">
            <div class="price">
              <h2>650</h2>
              %
            </div>
            <div class="title">After 5 Days</div>
          </div>
          <div class="table-content">
            <ul>
              <li>Minimum Deposit : $1001</li>
              <li>Maximum Deposit : $100, 000</li>
              <li>Affiliate Bonus : 5%</li>
              <li>5 days Investment Contract</li>
              <li>Principal Included</li>
            </ul>
          </div>
          <div class="table-footer">
            <a href="/register" class="theme-btn">
              Invest Now<i class="flaticon-outcoming-object"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="brand-section">
  <div class="container">
    <div class="brand-outer">
      <ul class="brand-carousel owl-carousel">
        <li class="slide-item">
          <figure class="image-box">
            <a href="https://blockchain.com/" target="_blank">
              <img src="../../assets/images/1.jpg" alt="" />
            </a>
          </figure>
        </li>
        <li class="slide-item">
          <figure class="image-box">
            <a href="https://www.myetherwallet.com/" target="_blank">
              <img src="../../assets/images/3.jpg" alt="" />
            </a>
          </figure>
        </li>
        <li class="slide-item">
          <figure class="image-box">
            <a href="https://litecoin.com/en/" target="_blank">
              <img src="../../assets/images/4.jpg" alt="" />
            </a>
          </figure>
        </li>
        <li class="slide-item">
          <figure class="image-box">
            <a href="https://perfectmoney.is" target="_blank">
              <img src="../../assets/images/5.jpg" alt=""
            /></a>
          </figure>
        </li>
        <li class="slide-item">
          <figure class="image-box">
            <a href="https://payeer.com" target="_blank">
              <img src="../../assets/images/6.jpg" alt="" />
            </a>
          </figure>
        </li>
        <li class="slide-item">
          <figure class="image-box">
            <a href="https://blockchain.com/" target="_blank">
              <img src="../../assets/images/2.jpg" alt="" />
            </a>
          </figure>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="our-company gray-bg sec-pad">
  <div class="container">
    <div class="sec-title centred">
      <h2>Our Investment Platform</h2>
    </div>
    <div class="inner-content">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
          <div class="content-box">
            <h2 class="tab-title">Specialized in Direct Investments</h2>
            <div class="text">
              <p>
                Our large and diverse investment team consists of professionals
                with extensive operational and investment experience from all
                parts of the industry. This enables us to create value by
                building profitable and sustainable companies. As sector
                specialists, we invest across the spectrum of companies in this
                large industry, including forex trading, cryptocurrency trading,
                oil and gas, renewable energy, infrastructure, and providers of
                specialist services such as financing or logistics.
              </p>
              <p>
                We seek to use our role as an active owner to make a difference
                and to contribute to the achievement of sustainable change, and
                thereby to develop future-oriented companies.
              </p>
              <p>
                The scale of our company portfolio and the expertise it houses
                offers unparalleled opportunities to learn from the best in your
                respective field.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
          <div class="image-inner">
            <figure class="image-box">
              <img
                src="../../assets/images/home-about.jpg"
                alt=""
                class="imgframe"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


