<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Referral</h2>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Referral
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="input-group-buttons">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Invite your friends to get more profit</h4>
              </div>
              <div class="card-content">
                  <div class="card-body">
                      <p>You are allowed to invite up to 5 of your friends</p>
                      <div class="row">
                          <div class="col-md-12 col-12 mb-1">
                              <fieldset>
                                  <div class="input-group">
                                      <input type="text" [value]="referralData[0]===undefined ? '': referralData[0].email" #inpInvite1 [disabled]="referralData.length >=1" class="form-control" placeholder="Email address" aria-describedby="button-addon2">
                                      <div class="input-group-append" id="button-addon2">
                                          <button id="btnInvite1" [disabled]="referralData.length >=1" class="btn btn-primary waves-effect waves-light" (click)="sendInvitation(inpInvite1.value);" type="button">Invite</button>
                                      </div>
                                  </div>
                              </fieldset>
                          </div>
                          <div class="col-md-12 col-12 mb-1">
                            <fieldset>
                                <div class="input-group">
                                    <input type="text" [value]="referralData[1]===undefined ? '': referralData[1].email" #inpInvite2 [disabled]="referralData.length >=2" class="form-control" placeholder="Email address" aria-describedby="button-addon2">
                                      <div class="input-group-append" id="button-addon2">
                                          <button id="btnInvite2" [disabled]="referralData.length >=2" class="btn btn-primary waves-effect waves-light" (click)="sendInvitation(inpInvite2.value);" type="button">Invite</button>
                                      </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12 col-12 mb-1">
                          <fieldset>
                              <div class="input-group">
                                <input type="text" [value]="referralData[2]===undefined ? '': referralData[2].email" #inpInvite3 [disabled]="referralData.length >=3" class="form-control" placeholder="Email address" aria-describedby="button-addon2">
                                <div class="input-group-append" id="button-addon2">
                                    <button id="btnInvite2" [disabled]="referralData.length >=3" class="btn btn-primary waves-effect waves-light" (click)="sendInvitation(inpInvite3.value);" type="button">Invite</button>
                                </div>
                              </div>
                          </fieldset>
                      </div>
                      <div class="col-md-12 col-12 mb-1">
                        <fieldset>
                            <div class="input-group">
                                <input type="text" [value]="referralData[3]===undefined ? '': referralData[3].email" #inpInvite4 [disabled]="referralData.length >=4" class="form-control" placeholder="Email address" aria-describedby="button-addon2">
                                      <div class="input-group-append" id="button-addon2">
                                          <button id="btnInvite2" [disabled]="referralData.length >=4" class="btn btn-primary waves-effect waves-light" (click)="sendInvitation(inpInvite4.value);" type="button">Invite</button>
                                      </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-12 col-12 mb-1">
                      <fieldset>
                          <div class="input-group">
                            <input type="text" [value]="referralData[4]===undefined ? '': referralData[4].email" #inpInvite5 [disabled]="referralData.length ==5" class="form-control" placeholder="Email address" aria-describedby="button-addon2">
                            <div class="input-group-append" id="button-addon2">
                                <button id="btnInvite2" [disabled]="referralData.length ==5" class="btn btn-primary waves-effect waves-light" (click)="sendInvitation(inpInvite5.value);" type="button">Invite</button>
                            </div>
                          </div>
                      </fieldset>
                  </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>