<div class="content-header row">
  <div class="content-header-left col-md-9 col-12 mb-2">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <h2 class="content-header-title float-left mb-0">Referral</h2>
        <div class="breadcrumb-wrapper col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Referral</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="input-group-buttons">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title" style="margin-bottom: 10px">
            Invite your friends to get more profit
          </h4>
          <div class="alert alert-info" role="alert" style="width: 100%">
            <h4 class="alert-heading">Attention</h4>
            <ul class="b">
              <li>
                To receive a percentage of the bonus, each invitee must participate in at least one investment plan.
              </li>
              <li>You are allowed to have up to 5 active invitees.</li>
              <li>
                For each <d style="text-decoration: underline">active</d> invitee, you will be awarded a percentage of the
                bonus, the amount of which varies in each plan.
              </li>
            </ul>
          </div>
          <div class="alert alert-success" role="alert" style="width: 100%">
            <div class="b" style="display: flex">
              You have
              <div style="padding-left: 5px; padding-right: 5px">{{activeInviteesCount}}</div>
              active invitee(s) right now
            </div>
          </div>
        </div>
        <div class="card-content">
            <div class="card">
              <div class="card-header">
                <!-- DataTable starts -->
                <div class="table-responsive">
                  <div
                    id="DataTables_Table_0_wrapper"
                    class="dataTables_wrapper dt-bootstrap4 no-footer"
                  >
                    <div class="clear"></div>
                    <table
                      class="table data-list-view dataTable no-footer dt-checkboxes-select"
                      id="DataTables_Table_0"
                      role="grid"
                    >
                      <thead>
                      <tr role="row">
                        <th
                          tabindex="0"
                          aria-controls="DataTables_Table_0"
                          rowspan="1"
                          colspan="1"
                          style="padding-left: 15px;"
                        >
                          First Name
                        </th>
                        <th
                          tabindex="0"
                          aria-controls="DataTables_Table_0"
                          rowspan="1"
                          colspan="1"
                        >
                          Last Name
                        </th>
                        <th
                          tabindex="0"
                          aria-controls="DataTables_Table_0"
                          rowspan="1"
                          colspan="1"
                        >
                          Email
                        </th>
                        <th
                          tabindex="0"
                          aria-controls="DataTables_Table_0"
                          rowspan="1"
                          colspan="1"
                        >
                          Is Active?
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let invitee of inviteeList" role="row" class="odd">
                        <td class="product-category" style="border-top-left-radius:0;border-bottom-left-radius:0">{{invitee.firstName}}</td>
                        <td class="product-category">{{invitee.lastName}}</td>
                        <td class="product-category">{{invitee.email}}</td>
                        <td class="product-action" style="border-top-right-radius:0;border-bottom-right-radius:0">
                          <div *ngIf="invitee.isActive" class="chip chip-success">
                            <div class="chip-body">
                              <div class="chip-text">Active</div>
                            </div>
                          </div>
                          <div *ngIf="!invitee.isActive" class="chip chip-warning">
                            <div class="chip-body">
                              <div class="chip-text">Not Investing</div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- DataTable ends -->
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
