
<section
  class="page-title centred"
  style="
    background-image: url(../../assets/images/content-title.jpg);
  "
>
  <div class="container">
    <div class="content-box">
      <ul class="bread-crumb">
        <li><a href="/">Home</a></li>
        <li>Contact Us</li>
      </ul>
      <div class="title">
        <h2>Contact Us</h2>
      </div>
    </div>
  </div>
</section>

<section class="contact-section">
  <div class="container">
    <div class="row clearfix">
      <div class="col-lg-8 col-md-12 col-sm-12 inner-column">
        <div class="inner-content">
          <div class="sec-title">
            <span>contact with us</span>
            <h2>Contact Form.</h2>
          </div>
          <div class="contact-form-area">
            <form
              method="post"
              action="/contact-us/process"
              id="contact-form"
            >
              <div class="form-group">
                <input
                  type="text"
                  name="name"
                  placeholder="Your Name"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  name="email"
                  placeholder="Email Address"
                  required
                />
              </div>
              <div class="form-group">
                <input type="text" name="phone" placeholder="Phone" required />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="subject"
                  placeholder="Subject"
                  required
                />
              </div>
              <div class="form-group">
                <textarea name="message" placeholder="Message"></textarea>
              </div>
              <div class="form-group theme-btn">
                <input
                  type="hidden"
                  name="token"
                  value="3be2ccc6a2c8a91d20a6d1b326e1c257c69b72c2"
                />
                <button class="theme-btn" type="submit" name="submit-form">
                  Send Message<i class="flaticon-outcoming-object"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 inner-column">
        <div class="inner-content">
          <div class="info-box marginal-address">
            <div class="single-item">
              <span>office Address</span>
              <p>
                AVON, 1-5 St James Barton <br />
                Roundabout, Broadmead,<br />
                Bristol BS1 3LT,<br />
                United Kingdom
              </p>
            </div>
            <div class="single-item">
              <span>Send us email</span>
              <p>
                <a
                  href="/cdn-cgi/l/email-protection"
                  class="__cf_email__"
                  data-cfemail="abd8dedbdbc4d9dfebc0cac6d8c4c5cddec5cf85c8c4c6"
                  >[email&#160;protected]</a
                >
              </p>
            </div>
            <div class="single-item">
              <span>Call us</span>
              <p>VIP-MEMBERS-ONLY</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
