
<section
  class="page-title centred"
  style="
    background-image: url(../../assets/images/about-title.jpg);
  "
>
  <div class="container">
    <div class="content-box">
      <ul class="bread-crumb">
        <li><a href="/">Home</a></li>
        <li>About us</li>
      </ul>
      <div class="title">
        <h2>About us</h2>
      </div>
    </div>
  </div>
</section>

<section class="our-philosophy">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 image-column">
        <figure class="image-box">
          <img
            src="../../assets/images/about-title-2.jpg"
            alt=""
          />
        </figure>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 content-column">
        <div class="content-box">
          <div class="sec-title">
            <span
              >We have extensive experience and insight into businesses and
              capital markets</span
            >
            <h2>We develop and manage promising opportunities</h2>
            <div class="text">
              <p>
                Pandora Group is an online investment platform that offers private
                and institutional investors direct and professional access to
                global investments. Having successfully invested in more than
                100 companies, Pandora Group is one of the most active venture
                capital investors in United Kingdom.
              </p>
              <p>
                Our select private investments have a strong rationale and
                attractive deal structure – with a preference for off-market
                opportunities which can offer superior long-term value.
              </p>
              <p>
                We are here to make life easier – by providing consolidation of
                assets across banks, jurisdictions, managers and mandates.
                Having a picture of the overall wealth allows us to manage asset
                allocation and risk, to provide solutions, and assist in wealth
                planning and next-generation issues.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
